

.f-container{
  justify-content: space-between;
  border-top: .5px solid rgba(0,0,0,0.148);
}

.f-left, .f-right, .f-center {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.f-follow-contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.f-socials {
  display: flex;
  gap: 1rem;
}



.f-menu{
  gap: 1.5rem;
  margin-top: 1.5rem;
  font-weight: 500;
}

.f-menu-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (max-width: 768px) {
  .f-container{
    justify-content: center;
}
.f-container>div{
    align-items: center!important;
    text-align: center;
}
.f-right{
    justify-content: center;
}
  .f-menu, .f-socials {
    flex-direction: column;
    gap: 1rem;
  }
}



